<nav class="navbar-container">
  <div class="navbar">
    <a href="/" class="navbar-logo" aria-label="Return home">
      <img src="/static/logo.svg" />
      <span>LDkit</span>
    </a>

    <ul class="navbar-menu">
      <li>
        <a href="/docs/overview/about-lume/" {% if main_menu == "docs" %}class="is-selected"{% endif %}>
          Documentation
        </a>
      </li>
      <li>
        <a href="/showcase/" {% if main_menu == "showcase" %}class="is-selected"{% endif %}>
          Showcase
        </a>
      </li>
      <li>
        <a href="/plugins/" {% if main_menu == "plugins" %}class="is-selected"{% endif %}>
          Plugins
        </a>
      </li>
    </ul>
    <div class="navbar-search" id="search">Search</div>
  </div>
</nav>